@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Righteous);

/*  Reset CSS  */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0;}
body { font:12px/1.6 arial; color:#555; font-family:"Copperplate Gothic light"} 
input, img { vertical-align:top;}

.top {width:0%; height:2px; background:#000; position:absolute; top:50px; left:0px;}
.bottom {width:0; height:2px;  background:#000; position:absolute; bottom:-50px;right:0;}
.right {width:2px; height:0%;  background:#000; position:absolute; top:50px; right:0;}
.left {width:2px; height:0%; background:#000; position:absolute; bottom:-50px; left:0;}

#wrapper {width:1200px; margin:0 auto;}
section {width:1200px; height:450px; position:relative; top:200px;  left:50%; margin-left:-600px;}
section h1 {background:url(../img-re/logo1.png) no-repeat top center; position:absolute; left:360px; top:180px; z-index:999; cursor:pointer; width:384px; height:106px;}
section h1:hover {background:url(../img-re/logo1.png) no-repeat bottom center;}
section #gnb {position:absolute; width:100%; left:0; top:80px; opacity:0}
	section #gnb li {float:left; text-align:center; width:133px;outline:1px solid pink;/**/ height:40px;  transition:all 0.5s; line-height:20px;}
	section #gnb li a { color:#ccc; }
	section #gnb li a:hover {color:#840a13;}
	

	

	#util {width:380px; height:100px; background:#ebebeb; border-radius:6px; position:absolute; right:0; top:-60px; box-sizing:border-box; opacity:0;}
	.util { text-align:center; overflow:hidden;}
	.util.up li {float:left; }
	.util.up li i {font-size:35px; margin:10px 15px 10px 30px; transition:all 0.6s;}
	.util.up li i:hover {color:#840a13;}
	
	.util.down li {float:left; font-size:20px; margin:0px 13px;}
	.util.down li:nth-of-type(1) {margin-right:0;}
	.util.down li i {font-size:30px; color:#840a13; margin-right:5px;transition:all 0.6s;}
	.util.down li i:hover {color:#fff;}
	
	
	
	section>article {width:100%; height:100%; position:absolute; top:50px; left:0; z-index:3; perspective:700px;}
		section>article.on {z-index:10;}
	
	
	section>article>p{width:338px; height:20px; font-size:16px; background-color:#fff; position:absolute; right:65px; bottom:0px; text-align:center; padding:20px 0; cursor:pointer; z-index:50; opacity:0;}
	section>article.box1>p {width:244px; height:20px; position:absolute; right:92px; bottom:0px;padding:20px 0;  display:inline-block;transition:all 0.5s;}
	section>article.box2>p {transition:all 0.5s; }
	section>article.box3>p {transition:all 0.5s; position:absolute; right:55px;}	
	section>article>p:hover {color:#fff; background-color:#840a13;}
	


	section>article>div {transform:rotateY(-180deg); /**/opacity:0;  transition:all 1.2s;}


	section>article>div:nth-child(1) {transition-delay:0s;}
	section>article>div:nth-child(2) {transition-delay:0.1s;}
	section>article>div:nth-child(3) {transition-delay:0.2s;}
	section>article>div:nth-child(4) {transition-delay:0.3s;}
	section>article>div:nth-child(5) {transition-delay:0.4s;}
	section>article>div:nth-child(6) {transition-delay:0.5s;}
	section>article>div:nth-child(7) {transition-delay:0.6s;}
	section>article>div:nth-child(8) {transition-delay:0.7s;}
	section>article>div:nth-child(9) {transition-delay:0.8s;}
	section>article>div:nth-child(10) {transition-delay:0.9s;}
	section>article>p {transition-delay:1.0s;}
	
	section>article.on>div {transform:rotateY(0deg); opacity:1;}
	section>article>img {position:absolute; z-index:20; top:10px; left:10px; cursor:pointer; opacity:0; transform:scale(10); transition:all 1s;}
	section>article.on>img:hover { transform:scale(1.3);}
	section>article.on>img {opacity:1; transform:scale(1);}
	/*-----------------------------------------------------------------------------------*/
	#subMenu {width:1200px; height:380px; background:#d6d6d6; position:absolute; top:730px; display:none;}
		#subMenu h2 {text-align:center; font-size:46px; color:#840a13;}
		#subMenu ul {}
		#subMenu ul li {float:left; transition:all 0.7s; width:260px; height:260px; margin:0 40px 0 0; }
		#subMenu ul li:hover {transform:scale(1.1);}
			#subMenu ul li:nth-of-type(1) {background:url(../img-re/rings.png) no-repeat; margin-left:20px;}
			#subMenu ul li:nth-of-type(2) {background:url(../img-re/bracelet.png) no-repeat;}
			#subMenu ul li:nth-of-type(3) {background:url(../img-re/necklace.png) no-repeat;}
			#subMenu ul li:nth-of-type(4) {background:url(../img-re/earrings.png) no-repeat; margin-right:20px;}
		/*id 이벤트 ------------------------------------------------------------------------*/
		#event {position:relative; top:760px; width:1200px; height:1850px; display:none; }
		#event li:nth-of-type(2),#event li:nth-of-type(4),#event li:nth-of-type(6){width:360px; height:280px; border:2px solid #000; text-align:center; }

	#event ul li:nth-of-type(1)>.bgcolor {width:1200px; height:515px; background:rgba(0,0,0,0.2);}
	#event ul li:nth-of-type(3)>.bgcolor {width:1200px; height:290px; background:rgba(60,24,2,0.3);}
	#event ul li:nth-of-type(5)>.bgcolor {width:100%; height:370px; background:rgba(102,3,8,0.5);}
	
	#event li>div img {margin-left:50px; margin-bottom:}
	
	#event ul li:nth-of-type(1)>div img {position:absolute; top:-30px;}
		#event ul li:nth-of-type(1)>div {margin-bottom:230px;}
	#event ul li:nth-of-type(3)>div img {position:absolute; right:40px; top:535px;}
		#event ul li:nth-of-type(3)>div {margin-bottom:230px;}
	#event ul li:nth-of-type(5)>div img {position:absolute; top:1110px;}
	
	#event li:nth-of-type(2) {position:absolute; top:100px; right:70px; }
		#event li:nth-of-type(2) h2 {font-size:20px; }
		
	#event li:nth-of-type(4) {position:absolute; top:700px; left:70px;}
		#event li:nth-of-type(4) h2 {font-size:30px;}
		
	#event li:nth-of-type(6) {position:absolute; top:1310px; right:90px;}
		#event li:nth-of-type(6) h2 {font-size:30px;}
		
		
		#event li b {font-size:15px; background:#818181; width:270px; height:45px; display:block; color:white; line-height:45px; text-align:center; margin-left:45px; cursor:pointer; transition:all 0.5s;}
		#event li b:hover {background:#840a13; color:white;}
		
		#event li h2 {margin:50px 0 25px 0; color:black;}
		
		#event li p {margin:20px 10px;}



	.search {width:500px; height:45px;position:absolute; left:0; bottom:-220px; opacity:0;/**/ z-index:2;}
	.search input[type="text"] {width:405px; height:42px;}
	.search input[type="image"]:hover {background:url(../img-re/change2.png);}
	

/*class 푸터 ------------------------------------------------------------------------*/
.footer {width:340px; height:40px; background:#ebebeb; border-radius:6px; box-sizing:border-box; position:absolute; right:0; bottom:0; padding:10px 35px; /**/opacity:0;}
	
	.footer li {float:left; /*margin-right:55px;*/ font-size:15px; color:7c7c7c; font-family:"Copperplate Gothic light"; cursor:pointer; text-align:center; }
	.footer li:nth-child(1) { margin-right:40px;}
	.footer li i {margin-right:10px; font-size:20px; color:#fff; }
	
	address {position:absolute; right:400px; bottom:130px; font:12px "Copperplate Gothic light"; color:7c7c7c; letter-spacing:3px; z-index:2;}
	/*id 푸터 ------------------------------------------------------------------------*/
	#footer {width:1200px;  position:absolute; top:3100px; border-top :1px dashed grey; padding:50px; height:500px; display:none;/*opacity:0;*/}
		#footer>ul>li {float:left; /*outline:1px solid pink;*/}
		#footer>ul>li.first {width:335px; height:440px; margin-left:30px; margin-right:61px;  font-size:15px; cursor:pointer;}
			#footer>ul>li.first h2 {font-size:16px; text-align:center; margin:15px 0;}
			#footer>ul>li.first>ul>li>img {width:40px; height:40px; transition:all 0.6s; margin-right:10px; }
			#footer>ul>l.first img:hover {transform:scale(1.5);} 
			#footer>ul>li.first i {float:right; margin-right:15px; font-size:17px; cursor:pointer; color:lightgrey;}
			#footer>ul>li.first i:hover {color:#840a13;}
			#footer .first li {margin:25px 0; position:relative; border-bottom: 1px dashed grey; padding-bottom:5px;}
			
					#footer .first .down {display:none; width: 230px; height:auto; border:2px solid grey; box-shadow:2px 2px 2px grey; z-index:500; font-size:8px; position:absolute; left:45px; background:rgba(255,255,255,1); text-align:center; padding:10px;}
					
					#footer .first li:nth-of-type(4) .down { width: 240px; text-align:left; padding-left:10px;}

		
		
		#footer>ul>li:nth-of-type(2) {width:250px; height:440px; margin-right:57px; text-align:center;  font-size: 20px; line-height:2.2em; cursor:pointer; transition:all 0.5s;}
			#footer>ul>li:nth-of-type(2) li:hover {color:#840a13; transform:scale(1.1);}
			
			
			
		#footer>ul>li:nth-of-type(3) {width:430px; height:440px; float:right; margin-right:30px; background:#e5e5e5; box-shadow:2px 2px 4px #818181; text-align:center; }
		
		#footer>ul>li:nth-of-type(3) h2 {margin:30px 0 5px 0; font-size: 30px;}
		
		#footer .third .sel>li:nth-of-type(1),#footer .third .sel>li:nth-of-type(2) { width:255px; height:45px;  background:#a2a2a2;  font-family:Tunga; font-weight:bold; font-size:20px; margin:10px auto; cursor:pointer; transition:all 0.5s; }
		
		#footer .third .sel>li:nth-of-type(1):hover, #footer .third .sel>li:nth-of-type(2):hover {background:#840a13; }
		
		
		#footer .third .sel>li:nth-of-type(1) a, #footer .third ul.sel li:nth-of-type(2) a {color:white; line-height:45px;}
		
		
		#footer .third .sel>li:nth-of-type(3) {float:left; margin-left: 50px; margin-top:20px;}
		#footer .third .sel>li:nth-of-type(4) {margin-top:20px;}
		#footer .third .sel>li:nth-of-type(5) {clear:both; margin:15px 0;}
		
		#footer .third .sel>li:nth-of-type(5)>ul>li {float:left; text-align:center;}
		#footer .third .sel>li:nth-of-type(5)>ul>li>a>i{ opacity:1; color:#000; font-size: 50px; margin:20px 10px; transition:all 0.5s;
		}
		#footer .third .sel>li:nth-of-type(5)>ul>li a>i:nth-of-type(1) {margin-left:25px;}
		#footer .third .sel>li:nth-of-type(5)>ul>li a>i:hover {color:#840a13; }
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	
	.box1>div {float:left; height:150px; background:url(../img-re/btnMenu1.png);}
	/* 1200*450 */
	.box1>div:nth-child(1) {width:33%; background-position:0px 0px;}
	.box1>div:nth-child(2) {width:33%; background-position:-396px 0px;}
	.box1>div:nth-child(3) {width:34%; background-position:-792px 0px;}
	.box1>div:nth-child(4) {width:25%; background-position:0px -150px;}
	.box1>div:nth-child(5) {width:25%; background-position:-300px -150px;}
	.box1>div:nth-child(6) {width:25%; background-position:-600px -150px;}
	.box1>div:nth-child(7) {width:25%; background-position:-900px -150px;}
	.box1>div:nth-child(8) {width:33%; background-position:0px -300px;}
	.box1>div:nth-child(9) {width:33%; background-position:-396px -300px;}
	.box1>div:nth-child(10) {width:34%; background-position:-792px -300px;} 
	
	.box2>div {float:left; height:150px; background:url(../img-re/btnMenu2.png);}
	
	.box2>div:nth-child(1) {width:33%; background-position:0px 0px;}
	.box2>div:nth-child(2) {width:33%; background-position:-396px 0px;}
	.box2>div:nth-child(3) {width:34%; background-position:-792px 0px;}
	.box2>div:nth-child(4) {width:25%; background-position:0px -150px;}
	.box2>div:nth-child(5) {width:25%; background-position:-300px -150px;}
	.box2>div:nth-child(6) {width:25%; background-position:-600px -150px;}
	.box2>div:nth-child(7) {width:25%; background-position:-900px -150px;}
	.box2>div:nth-child(8) {width:33%; background-position:0px -300px;}
	.box2>div:nth-child(9) {width:33%; background-position:-396px -300px;}
	.box2>div:nth-child(10) {width:34%; background-position:-792px -300px;} 
	
	.box3>div {float:left; height:150px; background:url(../img-re/btnMenu3.png);}
	
	.box3>div:nth-child(1) {width:33%; background-position:0px 0px;}
	.box3>div:nth-child(2) {width:33%; background-position:-396px 0px;}
	.box3>div:nth-child(3) {width:34%; background-position:-792px 0px;}
	.box3>div:nth-child(4) {width:25%; background-position:0px -150px;}
	.box3>div:nth-child(5) {width:25%; background-position:-300px -150px;}
	.box3>div:nth-child(6) {width:25%; background-position:-600px -150px;}
	.box3>div:nth-child(7) {width:25%; background-position:-900px -150px;}
	.box3>div:nth-child(8) {width:33%; background-position:0px -300px;}
	.box3>div:nth-child(9) {width:33%; background-position:-396px -300px;}
	.box3>div:nth-child(10) {width:34%; background-position:-792px -300px;}
	
	
